body{
    background-color: #f0f0f0;
}

.projectDetailsContainer{
    margin-top: 30px;
    font-size: 13px;
}
h1{
    font-weight: bold;
}

.detailsContainer,.headerContainer{
    border: darkgrey;
    border-style: hidden;
    background: white;
    box-sizing: border-box;
    border-radius: 3px;


}

.detailsContainer{
    padding-top: 20px;
    margin-top: 20px;
    width: content-box;

}


.headerContainer-boby{
    margin-right: 5px;
    margin-left: 5px;
}

#headcontainer{
    border: 1px solid;
    padding: 5px;
    box-shadow: 1px 1px #888888;
    border-radius: 3px;
    height: 58px;
}





.headerContainer-items{
    display:inline-block;
    padding:5px;



}
#middle{
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
/*.divider{*/
    /*position:relative;*/
    /*left:10px;*/
    /*top:5%;*/
    /*bottom:5%;*/
    /*border-left: 1px solid #CCCCCC;*/
    /*line-height: 100%;*/
/*}*/
#heading{

    pading-top:2px;
    padding-bottom: 5px;
    font-family: inherit!important;

}
.val{
    color: #008bcb!important;
    font-size: 22px;
    font-weight: 700!important;
    padding-left: 2px;
}
p {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0.125rem;
    align-content: center;
}

#body{
    margin-right: 50px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.col-md-8{
    padding-left: 0px;
    padding-right:0px;

}
h2{
    font-size: 1.25rem;
    margin-top: 12px;
    margin-bottom: 5px!important;
    font-weight: 700!important;
    text-rendering:optimizeLegibility;
    padding-left: 15px;
}

h5{
    margin-top:15px;
    margin-bottom: 15px;
    font-weight: 700!important;

}
#projectID {
    position: relative;
    float: right;
    text-align: right;
    margin-bottom: 15px;
    padding-bottom: 15px;

}
#skills{
    color: skyblue;
    font-size: 13px;
}
#product_id{
    font-weight:700;
    font-size: 13px;


}

.bidContainer{
    margin-top: 50px;
    margin-bottom: 100px;

}



#bid_header_items{

    padding-top: 8px;
    padding-left: 22px;



}

#bid_container{
    color: #fff;
    /*font-size: 13px;*/
    font-size: .8125rem;
    line-height: 1.2;
    text-transform: uppercase;
    background: #4D525B;
    height : 39px;
    border-radius: 3px;
}

.shadow {
    -moz-box-shadow:    inset 0 0 1px #000000;
    -webkit-box-shadow: inset 0 0 1px #000000;
    box-shadow:         inset 0 0 1px #000000;
}

#bid_button{

    float: right;
    padding-top: 30px;



}

