.bidContainer-bidInfoContainer{
    padding:20px 10px 20px 20px;

}

.bidContainer-bidInfoContainer-item{
    border: darkgrey;
    color: black;
    background: white;
    box-sizing: border-box;
    border-radius: 3px;
}


#image{
    height: 96px;
    width:96px;
}
p{
    align-content: center;

}

#bid_value{
    float: end;
    font-size: 20px;
    align-content: center;

}
#bid_value_number{
    padding-right: 20px;
    font-size: 20px;

}
#username{

    font-size: 14px;
    font-family: "Comic Sans MS";
    color: #008bcb;

}
